<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="../CSS/header.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="board.css" />
    <script
      src="https://kit.fontawesome.com/6b435800dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header id="headerType" class="header__wrap nexon">
      <div class="header__inner">
        <div class="header__logo">
          <a href="../MAIN/main2.html">
            <img src="../img/Logo.png" alt="Logo" width="170px" height="33px" />
          </a>
        </div>
        <nav class="header__menu">
          <ul>
            <li><a href="../STUDY/study.html">학습하기</a></li>
            <li><a href="../BOARD/board.html">게시판</a></li>
            <li><a href="../MYPAGE/mypage.html">마이페이지</a></li>
          </ul>
        </nav>
        <form class="header__search" action="" method="get">
          <input
            class="search_txt"
            type="text"
            placeholder="검색어를 입력하세요."
          />
          <button class="search_btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="header__member">
          <a href="../MAIN/main.html">로그아웃</a>
        </div>
      </div>
    </header>
  </body>
</html>

<h2 class="board-title">&nbsp;&nbsp;<b>자유게시판</b></h2>

<button
  class="btn btn-primary scroll-button top-button"
  onclick="scrollToTop()"
>
  <i class="fas fa-arrow-up"></i>
</button>
<button
  class="btn btn-primary scroll-button bottom-button"
  onclick="scrollToBottom()"
>
  <i class="fas fa-arrow-down"></i>
</button>

<div class="container my-3">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <form class="d-flex" method="get" action="{% url 'board:list' %}">
        <input
          class="form-control me-2"
          type="search"
          name="q"
          placeholder="검색어를 입력해 주세요"
          style="width: 900px"
        />
        <button
          class="btn btn-outline-primary"
          type="submit"
          style="width: 150px"
        >
          SEARCH
        </button>
      </form>
    </div>

    <div class="col-lg-6 mb-3 text-end">
      <a href="boardwrite.html" class="btn btn-outline-primary">+ 글쓰기</a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th style="width: 7%; text-align: center">글번호</th>
          <th style="width: 40%">제목</th>
          <th style="width: 10%; text-align: center">작성자</th>
          <th style="width: 15%; text-align: center">작성일</th>
          <th style="width: 8%; text-align: center">조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" align="center"></td>
        </tr>
        <tr>
          <td align="center">-</td>
          <td>
            <a class="title-link">
              <span style="color: black">-</span>

              <img class="rounded-image" />

              <span style="color: red"></span>

              <span class="comment-count" style="color: red"></span>
            </a>
          </td>
          <td align="center" style="color: cadetblue"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="pagination justify-content-center">
  <a href="{% url 'board:list' %}?pagenum={{ startpage|sub:pageblock }}"
    >&laquo;</a
  >

  <span class="current-page">{{ i }}</span>

  <a href="{% url 'board:list' %}?pagenum={{ i }}">{{ i }}</a>

  <a href="list?pagenum={{ startpage|add:pageblock }}" class="page-link"
    >&raquo;</a
  >
</div>
<br /><br />
